{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "arrow-parens": ["off"],
    "camelcase": "off",
    "function-paren-newline": "off",
    "max-len": "off",
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "import/no-unresolved": ["off"],
    "import/extensions": ["off"],
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-did-mount-set-state": "off",
    "no-did-update-set-state": "off",
    "no-loop-func":"off",
    "object-curly-newline":"off"
  }
}